.page-footer{
    max-width: 1440px;
    width: 100%;
    background-color: #d7e5eb;
    margin: 0 auto;
    padding: 30px 8px 30px;
}

.page-footer__column-container{
    display: flex;
    justify-content: space-between;
    max-width: 712px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}


.page-footer__column-name{
    display: block;
    font-size: 23px;
    line-height: 31px;
}
.page-footer__column-item{
    display: block;
    color: $violet;
    font-size: 18px;
    line-height: 31px;
}

.page-footer__logo{
    margin: 0 auto;
    width: 70px;
}