// color
$violet: rgba(83, 38, 212, 1);
$white: rgba(255, 255, 255, 1);
$grey: #DEE6F3;
$navy: rgba(23, 35, 69, 1);
$inactive: rgba(170, 170, 170, 1);
$lavender: rgb(233,232,252);
    




// size
///

// font
$rob: Roboto, sans-serif;

// // grid
// $gap: 11px
// $double-gap: $gap * 2
// $container-size: 1440px

// $small-gap: 6px
// $double-small-gap: $small-gap * 2

// $ex-small-gap: 4px
// $ex-double-small-gap: $ex-small-gap * 2

